<%- include('partials/header') %>

<div class="container-fluid" style="margin-top: 50px;">
    <!-- <h1 class="h1 py-4 text-center">Dashboard</h1> -->

    <div class="row">
        <div class="col-lg-2" style="border-right: 0.25rem solid black;">
            <div class="row">
                <div class="col-12" style=" padding: 2rem; border-bottom: 0.25rem solid black;">
                    <img src="./images/male_icon.png" height="100%" width="100%">

                </div>
            </div>
            <div class="col-12">
                <div class="container-fluid">
                    <p><span class="font-weight-bold">Name:</span> <span
                            class="text-uppercase"><%=currentuser.username%></span></p>
                    <p><span class="font-weight-bold">Email:</span> <%=currentuser.email%></p>
                    <p><span class="font-weight-bold">Age:</span> <%=currentuser.age%></p>
                    <p><span class="font-weight-bold">Gender:</span> <%=currentuser.gender%></p>
                    <p><span class="font-weight-bold">Height:</span>
                        <%=currentuser.height%> cm
                    <form method="POST" action="/update?field=height">
                        <div class="md-form mt-0 d-none">
                            <input type="number" step=".01" class="form-control" id="height" required name="height"
                                placeholder="Height in cm *">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm btn-height">Update:</button>
                    </form>
                    </p>
                    <p><span class="font-weight-bold">Weight:</span>
                        <%=currentuser.weight%> kg
                    <form method="POST" action="/update?field=weight">
                        <div class="md-form mt-0 d-none">
                            <input type="number" step=".01" class="form-control" id="weight" required name="weight"
                                placeholder="Weight in Kgs *">
                        </div>
                        <button type="submit" class="btn btn-primary btn-sm btn-weight">Update</button>
                    </form>

                    </p>
                    <p><span class="font-weight-bold">BMI:</span>
                        <%= ((currentuser.weight/(currentuser.height*currentuser.height))*10000).toFixed(2) %> </p>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-6" style="padding: 0.5rem;">
                    <h1>Last results</h1>

                    <div class="p-1" style="background-color: rgba(0,0,255,0.1);">
                        <div class="container-fluid">
                            <div class="row text-center my-2">
                                <div class="col-4 font-weight-bold text-left">
                                    BP
                                </div>
                                <div class="col-2">
                                    80/100
                                </div>
                                <div class="col-3">
                                    27/07/20
                                </div>
                                <div class="col-3">
                                    HIGH
                                </div>
                            </div>
                            <div class="row text-center  my-2">
                                <div class="col-4 font-weight-bold text-left">
                                    ECG
                                </div>
                                <div class="col-2">
                                    100
                                </div>
                                <div class="col-3">
                                    27/07/20
                                </div>
                                <div class="col-3">
                                    HIGH
                                </div>
                            </div>
                            <div class="row text-center  my-2">
                                <div class="col-4 font-weight-bold text-left">
                                    Temperature
                                </div>
                                <div class="col-2">
                                    100
                                </div>
                                <div class="col-3">
                                    27/07/20
                                </div>
                                <div class="col-3">
                                    HIGH
                                </div>
                            </div>
                            <div class="row text-center my-2">
                                <div class="col-4 font-weight-bold text-left">
                                    SP02
                                </div>
                                <div class="col-2">
                                    100
                                </div>
                                <div class="col-3">
                                    27/07/20
                                </div>
                                <div class="col-3">
                                    HIGH
                                </div>
                            </div>
                            <div class="row text-center my-2">
                                <div class="col-4 font-weight-bold text-left">
                                    Heart Rate
                                </div>
                                <div class="col-2">
                                    100
                                </div>
                                <div class="col-3">
                                    27/07/20
                                </div>
                                <div class="col-3">
                                    HIGH
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6" style="padding: 0.5rem;">

                    <h1>Past Reports</h1>
                    <div class="p-1" style="background-color: rgba(0,0,255,0.1);">
                        <div class="container-fluid">
                            <div class="row justify-content-center" id="social-icons-row" style="width: 95%;">
                                <div class="row">
                                    <div class="mt-3 col-lg-6 col-6 text-center">
                                        <a>
                                            <div class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable"
                                                onclick="render_chart('graph','ECG','line',' V','Volatage in Volts',val,'ecg')">
                                                <i class="fas fa-file-medical-alt"></i> ECG
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mt-3 col-lg-6 col-6 text-center"
                                        onclick="render_chart('graph','TEMPERATURE','line',' F','Temperature in Fahrenheits',val,'temperature')">
                                        <a>
                                            <div
                                                class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable">
                                                <i class="fas fa-temperature-high"></i> Temperature
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mt-3 col-lg-6 col-6 text-center"
                                        onclick="render_chart('graph','SPO2','spline',' F','Oxygen in Volumes',val,'spo2')">
                                        <a>
                                            <div
                                                class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable">
                                                <i class="fas fa-lungs"></i> SPO2
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mt-3 col-lg-6 col-6 text-center"
                                        onclick="render_chart_bp('graph','BLOOD PRESSURE',' mm/Hg','Pressure in mm/Hg',val,'bp')">
                                        <a>
                                            <div
                                                class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable">
                                                <i class="fas fa-map-marker-alt pr-1"></i> BP
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mt-3 col-lg-6 col-6 text-center"
                                        onclick="render_chart('graph','HEART RATE','line','','Beats per minute',val,'heartrate')">
                                        <a>
                                            <div
                                                class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable">
                                                <i class="fas fa-heartbeat"></i> Heart Rate
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-9 col-sm-12">
                    <div id="graph" class=""></div>
                </div>
                <div class="col-lg-3 col-sm-12" style="padding: 0.5rem;">

                    <h1>Past Reports</h1>
                    <div class="p-1" style="background-color: rgba(0,0,255,0.1);">
                        <div class="container-fluid">
                            <div class="row justify-content-center" id="social-icons-row" style="width: 95%;">
                                <div class="row">
                                    <div class="mt-3 col-lg-6 col-6 text-center">
                                        <a>
                                            <div class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable"
                                                onclick="render_chart('graph','ECG','line',' V','Volatage in Volts',val,'ecg')">
                                                <i class="fas fa-file-medical-alt"></i> ECG
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mt-3 col-lg-6 col-6 text-center"
                                        onclick="render_chart('graph','TEMPERATURE','line',' F','Temperature in Fahrenheits',val,'temperature')">
                                        <a>
                                            <div
                                                class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable">
                                                <i class="fas fa-temperature-high"></i> Temperature
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mt-3 col-lg-6 col-6 text-center"
                                        onclick="render_chart('graph','SPO2','spline',' F','Oxygen in Volumes',val,'spo2')">
                                        <a>
                                            <div
                                                class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable">
                                                <i class="fas fa-lungs"></i> SPO2
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mt-3 col-lg-6 col-6 text-center"
                                        onclick="render_chart_bp('graph','BLOOD PRESSURE',' mm/Hg','Pressure in mm/Hg',val,'bp')">
                                        <a>
                                            <div
                                                class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable">
                                                <i class="fas fa-map-marker-alt pr-1"></i> BP
                                            </div>
                                        </a>
                                    </div>
                                    <div class="mt-3 col-lg-6 col-6 text-center"
                                        onclick="render_chart('graph','HEART RATE','line','','Beats per minute',val,'heartrate')">
                                        <a>
                                            <div
                                                class="bg-white zoom-effect text-black py-2 btn-rounded shdw-med hoverable">
                                                <i class="fas fa-heartbeat"></i> Heart Rate
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<!-- <div class="row px-5">
        <div class="col-md-3 col-sm-6 shdw-light py-4 text-center mt-3 font-weight-bold"
            onclick="render_chart('graph','ECG','line',' V','Volatage in Volts',val,'ecg')">
            <a>
                <i class="fas fa-heartbeat"></i> ECG
            </a>
        </div>
        <div class="col-md-3 col-sm-6 shdw-light py-4 text-center mt-3 font-weight-bold"
            onclick="render_chart('graph','TEMPERATURE','line',' F','Temperature in Fahrenheits',val,'temperature')">
            <a>
                <i class="fas fa-temperature-high"></i> Temperature
            </a>
        </div>
        <div class="col-md-3 col-sm-6 shdw-light py-4 text-center mt-3 font-weight-bold"
            onclick="render_chart('graph','SPO2','spline',' F','Oxygen in Volumes',val,'spo2')">
            <a>
                <image src="images/svg/high.svg" width="30 rem" height="30 rem"></image> SPO2
            </a>SPO2
        </div>
        <div class="col-md-3 col-sm-6 shdw-light py-4 text-center mt-3 font-weight-bold"
            onclick="render_chart_bp('graph','BLOOD PRESSURE','','Pressure in pascals',val,'bp')">
            <a>
                <image src="images/bp.jpeg" width="40 rem" height="40 rem"></image> BP
            </a>BP
        </div>
    </div> -->






<script>
    var val = '<%- JSON.stringify(health) %>';
</script>
<%- include('partials/footer') %>